%div.container-fluid
  %div.row-fluid
    %div.span3
      %ul.nav.nav-list
        %div.well.center-div
          %li.nav-header List Header
          %li
            %a{href: "#"}
              %span.icon-book= link_to "Questions",admin_materials_questions_path
          %li
            %a{href: "#"}
              %span.icon-book= link_to "Paragraphs",admin_materials_paragraphs_path 

    %div.span9
