%div.container-fluid
  %div.row-fluid
    %div.span4
      %ul.nav.nav-list
        %div.well
          %li.nav-header List Header
          %li.active
            %a{href: "#"}
              %span.icon-home Home
          %li
            %a{href: "#"}
              %span.icon-book Library

    %div.span8
