%div.row-fluid
  %div.span1
  %div.span10
    %div.hero-unit
      %div.row-fluid
        %div.span8
          %h1 Work smarter, not harder!
          %p Join your friends to prepare for the SAT with Studium.
          %p
            %a.btn.btn-primary.btn-large
              Learn more
            =link_to "Sign up",new_user_registration_path, {"class" => "btn btn-success btn-large"}
        %div.span4
          %div.carousel.slide#home-slide
            %div.carousel-inner
              %div.item.active 
                -#= image_tag("images/homepage/img1.png")
                %div.carousel-caption
                  %h4 Personalized statistics
              %div.item
                -#= image_tag("images/homepage/img2.png")
                %div.carousel-caption
                  %h4 Study with your friends
            %a.carousel-control.left{"href" => "#home-slide", "data-slide" => "prev"} &lsaquo;
            %a.carousel-control.right{"href" => "#home-slide", "data-slide" => "next"} &rsaquo;
          %script{type: "javascript"}
            :plain
                $('carousel').carousel();
%div.row-fluid
  %div.span1
  %div.span5
    %blockquote
      %p Best site ever! I have never seen something quite like this before. Dude this is crazy!
      %small Craig Soffer
  %div.span5
    %blockquote
      %p Hello I'm Mark Zuckerberg. I'm a billionaire. I don't know Chau and Kien and I don't have a fucking clue what is Studium
      %small Mark Zuckerberg
