%div.row.questions-accordion
  %div.span2
  %div.accordion.span7{id: "accordion2"}
    %div.accordion-group
      - count=1
      - questions.each do |question|
        = render "question_accordion_row",question: question,count: count
        - count+=1
