//Remove the old notice and add the new one
- alert_class= error ? "alert-error" : "alert-success"
$(".notice-alert div").remove();
$(".alert").remove();
$("#{escape_javascript(notice_container)}").prepend("<div class=\"alert #{escape_javascript(alert_class)}\"><button class=\"close\" data-dismiss=\"alert\">x</button><p>#{escape_javascript(notice)}</p></div>");

// Focus on the alert
$("body,html").animate({
scrollTop: $(".alert").offset().top-$(".alert").height()
});
