//Get the html content for the new accordion
- questions_accordion=render "questions_accordion",questions: @questions

//Remove all the questions in the accordion
$(".questions-accordion").remove();

//Add the newly queried questions to the accordion
$(".questions-index").append("#{escape_javascript(questions_accordion)}");

//Remove the old notice and add the new one
- if @notice
  = render "render_notice_and_alert",error: @error,notice: @notice,notice_container: ".notice-alert"
