var question_types=new Array();

<% for question_type in @question_types -%>
  question_types.push(new Array('<%= question_type.category_type_id%>'
                                ,'<%= question_type.category_type.category_name%>'
                                ,'<%= question_type.id %>'
                                ,'<%= question_type.type_name%>'));
<% end -%>

function categorySelected() {
  category_id=$("select#category_type_id").val();
  $("select#question_type_id option").remove();
  question_types.forEach(function(question_type){
    if (question_type[0]==category_id) {
      $("<option value=\""+question_type[2]+"\">"+question_type[3]+"</option>").appendTo("select#question_type_id");
    }
  });
}

$(document).ready(function() {
  categorySelected();
  $("select#category_type_id").change(categorySelected);
});
