%div.question_active#current_question
  %div.prompt
    %h4 Question
    %div.row-fluid
      %div.span2
      %div.span10
        %p.lead= @question.prompt
  %div.choices
    %h4 Choices
    %div.row-fluid
      %div.span2
      %div.span4
        %div.row-fluid
        - @question.choices.each do |choice|
          %div.span12.btn.each_choice{id: choice.id.to_s}
            -#=link_to choice.choice_letter+". "+choice.content, room_choose_choice_path(room_id, choice.id), remote: true
            %div.row-fluid
              %div.span3= choice.choice_letter
              %div.span9= choice.content
  %div
    %a.btn.btn-primary#confirm{style: "display:none"} Confirm
    %a.btn.btn-primary#ready{style: "display:none"} Ready
