%div.row-fluid#rooms_join
  %div.span9#question_container{user_id: current_user.id, room_id: @room.id, question_id: @room.question.id}
  %div.span3
    %div#timer
    %div#top_nav
    %div#bottom_nav
      %ul.nav.nav-tabs
        %li.active
          %a{"href" => "#chat", "data-toggle" => "tab"}Chat
        %li
          %a{"href" => "#history", "data-toggle" => "tab"}History
      %div.tab-content
        %div.tab-pane.active#history
        %div.tab-pane#chat
